In [1]:
import numpy as np
import pandas as pd

In [29]:
# 데이터 불러오기
credit_card_overdue = pd.read_csv('data/train.csv')
credit_card_overdue_test = pd.read_csv('data/train.csv')

In [30]:
# 컬럼 정보
## gender: 성별
## car: 차량 소유 여부
## reality: 부동산 소유 여부
## child_num: 자녀 수
## income_total: 연간 소득
## income_type: 소득 분류
##   ['Commercial associate', 'Working', 'State servant', 'Pensioner', 'Student']
## edu_type: 교육 수준
##   ['Higer education', 'Secondary/secondary special', Incomplete higher',
##    'Lower secondary', 'Academic degree']
## family_type: 결혼 여부
##   ['Married', 'Civil marriage', 'Separated', 'Single/not married', 'Window']
## house_type: 생활 방식
##   ['Municipal apartment', 'House/apartment', 'With parents', 'Co-op apartment',
##    'Rented apartment', 'Office apartment']
## DAYS_BIRTH: 출생 일
##   데이터 수집 당시 (0)부터 역으로 셈
## DAYS_EMPLOYED: 업무시작 일
##   데이터 수집 당시 (0)부터 역으로 셈 (양수 값은 고용되지 않은 상태)
## FLAG_MOBIL: 핸드폰 소유 여부
## work_phone: 업무용 전화 소유 여부
## phone: (가정용) 전화 소유 여부
## email: 이메일 소유 여부
## occyp_type: 직업 유형(?)
## family_size: 가족 규모
## begin_month: 신용카드 발급 월
##   데이터 수집 당시 (0)부터 역으로 셈
## credit: 신용등급
credit_card_overdue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [31]:
# 데이터 수
print(f'데이터 수 : {len(credit_card_overdue):,.0f}개')

데이터 수 : 26,457개

In [33]:
# 데이터 샘플
credit_card_overdue.head(3)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0